$fontSize-h1: 22px;
$fontSize-h2: 18px; 
$fontSize-h3: 14px; 
$fontSize-h4: 7px; 

$colors-white: #FFFFFF;
$colors-purple: #8385A9;
$colors-pink: #FB5E84;
$colors-black: #000000;
$colors-lightGray: #343650;
$colors-darkGray: #191A23;