@import '/src/config/styles/tokens.scss';

.Uppercase {
  text-transform: uppercase;
}

.Center {
  text-align: center;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: bold;
}

.h1 {
  font-size: $fontSize-h1;
  color: $colors-white;
}

.h2 {
  font-size: $fontSize-h2;
  color: $colors-white;
  letter-spacing: 6.13636px;
}

.h3 {
  font-size: $fontSize-h3;
  color: $colors-purple;
}

.h4 {
  font-size: $fontSize-h4;
  color: $colors-purple;
}